body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
    border-bottom: #77aaff 3px solid;
}

header h1 {
    margin: 0;
}

header nav ul {
    padding: 0;
    list-style: none;
}

header nav ul li {
    display: inline;
    margin-right: 20px;
}

header a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s ease; /* Efeito de transição suave */
}

/* Efeito hover para os links do menu */
header a:hover {
    color: #77aaff;
}